@font-face {
    font-family:capriola;
    src: url(fonts/Capriola-Regular.ttf);
}

body {
	margin: auto;
	width: auto;
	background-color: cornsilk;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
	width: 100%;
	margin: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	justify-items: center;
	align-items: center;;
	overflow: hidden;
}

.image-pair{
    display: block;
    object-fit: cover;
}

.image-pair img {
    width: auto;
    height: 400px;
}

.image-text {
	font-family: capriola;
	color: black;
	text-align: center;
	margin: 18px auto 24px;
	max-width: 270px;
}

img:hover {
	transform: scale(105%);
	filter: none;
}

@media only screen and (max-width: 1200px){
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
    body{
        width: 1000px;
        margin: auto;
    }

    figure.item{
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 1000px){
	.container {
		display: grid;
		grid-template-columns: 1fr;
	}

    body{
        width: 100%;
    }

    figure.item{
        width: 600px;
        height: 600px;
    }

}
